- provide(:title, "Archive")

%h2 Archive

%table.data_table
  %thead
    %tr
      %th Title
      %th Tags
      %th Date
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.title, article_path(article)
        %td= (tag_list article).html_safe
        %td= article.created_at.localtime
  %tfoot
    %tr
      %td.data_footer{colspan: 3}
        = will_paginate @articles

