<div class="plink_tab">
  <span class="plink">New Link</span>
  <div class="plink_info">
    <p>
      <input name="id" type="hidden" value="0">
      <label>Title:</label>
      <input class="input title" maxlength="50" name="title" type="text">
      <br>
      <label>Link :</label>
      <input class="input link" maxlength="100" name="link" type="text">
      <br>
      <label>Code :</label>
      <input class="input code" maxlength="3" name="code" type="text">
      <br>
      <br>
      [
      <a class="link_action" href="#" rel="save">Save</a>
      ]
      &nbsp;&nbsp;
      [
      <a class="link_action" href="#" rel="delete">Delete</a>
      ]
    </p>
  </div>
</div>